/*
.idea

!/app
/app/*
!/app/_data

!/app/code/
/app/code/*
!/app/code/Zhorov

!/app/design
/app/design/*
!/app/design/frontend
/app/design/frontend/*
!/app/design/frontend/Zhorov

!/app/etc
/app/etc/*
!/app/etc/config.php


!/.gitignore
!/composer.json